body{
    background-color: #F5F8FE;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 35px;
    color: #4E47FF;
}
nav li{
    list-style: none;
}
/* shared style */
.btn-sec{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 35px;
    border-radius: 15px;
}
.banner{
    text-align: center;
    margin-top: 158px;
    margin-bottom: 200px;
}
.banner-titel{
    font-size: 65px;
    font-weight: bold;
}
.header{
    background-image: url('../img/Hero-bg.png');
    background-repeat: no-repeat;
    height: 698px;
    width: 1440px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.fist-part{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.titel-1{
    color: #252432;
    font-weight: bold;
    font-size: 42px;
}
.pgraph-1{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
.container{
    width: 517px;
    height: 203px;
    gap: 10px;
}
.img{
    border-radius: 48px;
}
.div-2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
    margin-bottom: 10px;
}
.text{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.div-1{
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 80px 50px;
    border-radius: 15px;
   
   
}
 .div-1{
    padding: 80px 50px;
 } 

.big-text{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    
}
.div-3{
    width: 180px;
    height: 121px;
    text-align: center;
   
}
.align{
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.bio{
    display: flex;
    gap: 15px;
    align-items: center;
}
.icon{
    width: 40px;
    height: 40px;
}
.last-div{
    display: flex;
    align-items: center;
    /* gap: 550px; */
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.font{
    font-size: 18px;
    font-weight:600px ;
}
.last-one{
    font-weight: bold;
    font-size: 97px;
}
/* .email{
    height: 102px;
    width: 497;
} */
 input[type="text"],  input[type="email"]{
    height: 46px;
    /* border-radius: 5px; */
    width: 100%;
 }
 .button{
     height: 42px;
     width: 100%;
     font-size: 16px;
     background-color: #4E47FF;
     border-radius: 10px;
     color: rgba(255, 255, 255, 1);
     margin-top: 9px;

 }
 input[type="text"],  input[type="email"], textarea{
    padding-left: 25px;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.5);
    /* border: none; */
 }
 footer li{
    list-style: none;
    
 }
 footer ul{
    display: flex;
    gap: 15px;
    /* align-items: center; */
    justify-content: center;
 }
 .logooo{
    font-size: 100px;
    color: #4E47FF;
    font-weight: 900;
    text-align: center;
 }
 .ditels{
    color: rgba(137, 135, 161, 1);
 }
.overpro{
    padding-top: 20px;
}
.pro{
    text-align: center;
}
footer{
    background-color: rgba(255, 255, 255, 1);
    height: 428px;
    margin-top: 60px;
}